@import "../../../../assets/variables.scss";
:host {
    width: 20%;
    height: 115px;
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}    

:host:nth-of-type(1) .phrase{
    border-top-left-radius: 6px;
}

:host:nth-of-type(5) .phrase{
    border-top-right-radius: 6px;
}

:host:nth-of-type(21) .phrase{
    border-bottom-left-radius: 6px;
}

:host:nth-of-type(25) .phrase{
    border-bottom-right-radius: 6px;
}





.phrase{
    box-sizing: border-box;
    margin: 0;
    border: 1px solid $border-color;
    cursor: pointer;
    height: 100%;
    width:100%;
    text-align: center;
    font-size: 11px;
    span{
        padding: 20% 20px;
        display:block;
    }
}   


.disabled{
    background-color: $disabled-item-bg-color;
    cursor: default;
    
}

.board-disabled{
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important;
}

.selected{
    cursor: default;
}

@media screen and (max-width: 600px) {
    :host {
        width: 20%;
        height: 70px;
        border: 1px solid $border-color;
        margin-top: 0px;
       
    }    

    .phrase{
        height: 70px;
        font-size: 8px;
        span{
            padding: 20% 2px;
            display:block;
        }
    }   
    
}    
