:host{
    background-color: #260252;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}


.records{
    border-spacing: 0;
    border-collapse: separate;
    .record{
        color: #fff;
        
        font-size: 12px;
        .text{
            margin: 0;  
            padding: 3px 10px 3px 2px;
        }
        .count{
            margin: 0;
            text-align: right;
        }
    }
    .active{
        font-weight: 900;
        background-color: #f5e389;
        color: #c18a00;
    }
}





