:host{
    background-color: var(--interface-bg-color);
    color: var(--interface-text-color);
    transition: background-color .25s ease-in, color .25s ease-in;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}

input{
    width: 400px;
    font-size: 20px;
    margin-right: 5px;
}

button{
    font-size: 20px;
}
