.messages{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    height: 100%;
    overflow-y: scroll;
    border-radius: 6px;
    color: var(--interface-text-color);
    transition: background-color .25s ease-in, color .25s ease-in;

    .message{
        
        .content{
            display: block;
            font-size: 12px;
            padding: 5px 3px;
            line-height: 12px;
            margin: 5px 0;
        }

        .bingo{
            background-color: var(--bingo-bg-color);
            color: var(--bingo-color);
            transition: background-color .25s ease-in, color .25s ease-in;
        }
    }
}