@import "../../../assets/variables.scss";

.messages{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    height: 100%;
    overflow-y: scroll;
    border-radius: 6px;
    color: $interface-text-color;

    .message{
        
        .content{
            display: block;
            font-size: 12px;
            padding: 5px 3px;
            line-height: 12px;
            margin: 5px 0;
        }

        .bingo{
            background-color: $bingo-bg-color; 
            color: $bingo-color;
        }
    }
}