

.messages{
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0;
    border: 1px solid #ccc;
    height: 100%;
    overflow-y: scroll;


    .message{
        
        .content{
            font-size: 12px;
            padding: 5px 0;
            line-height: 12px;
        }

        .bingo{
            background-color: rgb(198, 230, 230); 
        }
    }


}