backend/static
backend/vendor
creds
.DS_Store
temp
node_modules
.firebaserc
firestore-debug.log
backend/app.yaml
frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.ts
functions/email/config.json
