header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    h1{
        width: 60%;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 40px;
        color: #FFF

    }

    nav{
        width: 40%;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-top: 10px;
            justify-content: flex-end;
            
            li{
                a{
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                    padding: 5px 5px;
                    margin-right: 8px;
                    border-radius: 3px;
                    background-color: #000;
                    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 2px 6px 2px rgba(60,64,67,0.15);
                    color: #fff25e;
                    text-decoration: none;
                }
                a:hover{
                    background-color: #F8F9FA;
                    color: #111;
                }
                
            }
        }
        
    }
}

@media screen and (max-width: 1000px) {

    header{
        width: 600px;
        
        h1{
            width: 200px;
            font-size: 20px;

        }
        nav{
            width: 300px;
            ul{
                li{
                    a{
                        width: 50px;
                        font-size: 12px;
                        padding: 2px 2px;
                    }
                    
                }
            }
        }
    }
}    

@media screen and (max-width: 600px) {
    header{
        width: 375px;
        h1{
            width: 150px;
            font-size: 20px;
        }
        nav{
            width: 200px;
            ul{
                li{
                    a{
                        width: 30px;
                        font-size: 10px;
                        padding: x 2px;
                        margin-left: 3px;
                    }
                    
                }
            }
        }    
    }    
}    