:host{
    background-color: var(--interface-bg-color);
    color: var(--interface-text-color);
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}

.boards{
    font-weight: 100;
    font-size: 12px;
}


.bingo{
    font-weight: 900;
}