:host{
    background-color: var(--interface-bg-color);
    color: var(--interface-text-color);
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}

.records{
    border-spacing: 0;
    border-collapse: separate;
    .record{
        color: var(--interface-text-color);
        
        font-size: 12px;
        .text{
            margin: 0;  
            padding: 3px 10px 3px 2px;
        }
        .count{
            margin: 0;
            text-align: right;
        }
    }
    .active{
        font-weight: 900;
        background-color: var(--record-bg-color);
        color: var(--record-color);
    }
}





