<h2>Manage Game Administrators</h2>
<p>Add or remove people who can manage the game board and see what's going on.</p>
<app-progressspinner class="spinner"></app-progressspinner>
<div class="admin-item" *ngFor="let admin of (game | async)?.admins" >
    <input  readonly  [value]="admin.email">
    <button [id]="admin.email" (click)="onAdminRemove($event, admin.email)"><i class="material-icons">remove</i></button>
</div>

<form> 
    <input  #newadmin type="text" class="form-control" required placeholder="enter admin email" name="email">
    <button (click)="onAdminAdd(newadmin.value); newadmin.value=''"><i class="material-icons">add</i></button>
</form>