@import "../../../../assets/variables.scss";

.main{
    background-color: $interface-bg-color;
    color: $interface-text-color;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;

    li{
        font-weight: 100;
        a{
            color: $link-text-color;
        }
    }
    li.active{
        font-weight:900;
    }


}

