.main{
    background-color: var(--interface-bg-color);
    color: var(--interface-text-color);
    padding: 20px;
    margin: 20px;
    border-radius: 6px;

    li{
        font-weight: 100;
        a{
            color: var(--link-text-color);
        }
    }
    li.active{
        font-weight:900;
    }


}

