$interface-bg-color: #260252;
$interface-text-color: #FFF;
$link-text-color: #fff25e;
$link-text-bg-color: #000;
$link-hover-bg-color: #F8F9FA;
$link-hover-color: #111;
$link-active-bg-color: #333;
$link-active-color: #7d7a5b;
$bingo-bg-color: #ffedfb;
$bingo-color: #270147;
$bingo-header-bg-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGkqPHJu90xdG12x9TNcPTduUXx1nZWQq4W2jnkEmmDGidD7pZ&usqp=CAU");
$bingo-header-text-shadow: #260252;

$header-font: 'Cinzel Decorative', cursive;
$border-color: #ccc;

$login-bg-color: #f5ceec;
$login-highlight-bg-color: #f222ad;
$login-highlight-contrast-bg-color: #82aff7;
$login-header-font: "Roboto";
$login-alert-bg-color: #ff0000;


$login-readonly-bg-color: #f5ceec;
$login-readonly-color: #666;

$disabled-item-bg-color: #474545;

$record-bg-color: #f5e389;
$record-color: #c18a00;