:host {
    width: unquote("calc(20% - 2px)");
    border: 1px solid #ccc;
}    

.phrase{
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    span{
        padding: 20% 20px;
        display:block;
    }
}


.disabled{
    background-color: #dedede;
    cursor: default;
}

.selected{
    cursor: default;
}
