:host {
    width: 115px;
    height: 115px;
    border: 1px solid #ccc;
}    

.phrase{
    cursor: pointer;
    height: 115px;
    text-align: center;
    font-size: 11px;
    span{
        padding: 20% 20px;
        display:block;
    }
}


.disabled{
    background-color: #dedede;
    cursor: default;
}

.selected{
    cursor: default;
}
