.main{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    h2{
        width: 100%;
        color: var(--interface-text-color);
        transition: color .25s ease-in;
    }

    .master{
        margin:0 20px 0 0;
        width: 25%;
    }

    .admins{
        margin: 10px 10px 0 0 ;
        width: 45%
    }

    .phrases{
        margin: 10px 0 0 10px;
        width: 45%
    }

    .game{
        margin:10px 0;
        width: 100%
    }

}


@media screen and (max-width: 1000px) {
    .main{
        width: 600px;

        .admins{
            width: 100%;
            margin: 10px 0; 
        }
        .phrases{
            width: 100%;
            margin: 10px 0; 
        }
    }

    
}    