<h2>Manage Global Administrators</h2>
<p>This is the list of people that can manage the entire system.  They can also join and manage any game in the network. </p>
<app-progressspinner class="spinner"></app-progressspinner>
<app-formalert></app-formalert>
<div class="admin-item" *ngFor="let admin of admins | async" >
    <input  readonly  [value]="admin.email">
    <button [id]="admin.email" (click)="onAdminRemove($event, admin.email)"><i class="material-icons">remove</i></button>
</div>

<form> 
    <input  #newadmin type="text" class="form-control" required placeholder="enter admin email" name="email">
    <button (click)="onAdminAdd(newadmin.value); newadmin.value=''"><i class="material-icons">add</i></button>
</form>