:host{
    background-color: var(--interface-bg-color);
    color: var(--interface-text-color);
    transition: background-color .25s ease-in, color .25s ease-in;
    padding: 20px;
    border-radius: 6px;
}

input{
    width: 300px;
    font-size: 20px;
    margin-right: 5px;
    border-radius: 6px;
}

button{
    font-size: 15px;
    position: relative;
    text-align: left;
    padding: 0;
    top: 5px;
}

form{
    margin-bottom: 10px;
}

.admin-item{
    margin: 10px 0;
}