.login{
    width: 500px;
    margin: 10px auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 2px 6px 2px rgba(60,64,67,0.15);
    background-color: var(--login-bg-color);
    color: var(--login-color);
    border-radius: 6px;
    transition: background-color .25s ease-in, color .25s ease-in;
    

    h1{
        margin-top:0;
        font-size: 24px;
        padding: 10px 30px 10px 30px;
        background-color: var(--login-highlight-bg-color);
        color: var(--login-header-text-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-family: var(--login-header-font);
        font-weight: 400;
        transition: background-color .25s ease-in, color .25s ease-in;
    }

    label{
        display: inline-block;
        width: 150px;
        margin: 3px 30px 0px 30px;
    }

    .alert{
        width: 416px;
        margin: 3px 30px 0px 30px;
        background-color: var(--login-alert-bg-color);
        padding: 5px 2px;
        display:none;
        transition: background-color .25s ease-in;
    }
    
    input{
        width: 400px;
        height: 50px;
        font-size: 24px;
        display: inline-block;
        margin: 0px 30px 20px 30px;
        border-radius: 4px;
        padding: 0 10px;
        border-style: solid;
        border: 1px solid #CCC;
        
    }

    input:read-only{
        color: var(--login-readonly-color);
        cursor: default;
        background-color: var(--login-readonly-bg-color);
        user-select: none;
        outline: none;
        transition: background-color .25s ease-in, color .25s ease-in;
    }

    button{
        margin: 3px 30px 20px 30px;;
        background-color: var(--login-highlight-bg-color);
        color: var(--login-header-text-color);
        font-size: 24px;
        border-radius: 6px;
        padding: 0px 30px;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
        transition: background-color .25s ease-in, color .25s ease-in;
    }

    button:hover{
        background-color: var(--login-highlight-contrast-bg-color);
    }

    button:focus{
        box-shadow: none;
    }

    p{
        margin: 10px 30px;

    }

}

@media screen and (max-width: 499px){
    .login{
        width: 100%;
        input{
            width: 80%;
        }    
    }    
}