<app-toolbar></app-toolbar>

<div class="login">
    <h1>Enter name to play</h1>
    <p>Only your name will appear on screen. </p>
    <div class="alert">A name is required</div>
    <label for="">Name:  </label>
    <input id="name" ng-required="true" type="text" name="name" placeholder="Your Fabulous Name" (keyup.enter)="submitPlayer()" >
    <br />
    <label for="">Email:  </label>
    <input readonly id="email" type="email" name="email" [value]="(identity | async)?.email | replace">
    <br />
    <button (click)="submitPlayer()" >Go!</button>
    <app-footer></app-footer>
</div>
<div class="message">
    <p>Please login to your Google account to get access to the game.  Check to see if popups are blocked.</p>
</div>
