.login{
    width: 800px;
    margin: 10px auto;
    border: 1px solid red;
}

label{
    display: inline-block;
    width: 150px;
    padding: 10px 5px;
}

input{
    width: 450px;
    display: inline-block;
    padding: 10px 5px;
}