<footer>
    <div [class.active]="theme=='light'">
        <input type="radio" id="light" name="drone" value="light" [checked]="theme=='light'" (click)="click('dark')">
        <label for="light" ><span class="material-icons">brightness_5</span> Switch Mode (Light)</label>
    </div> 

    <div [class.active]="theme=='dark'">
        <input type="radio" id="dark" name="drone" value="dark" [checked]="theme=='dark'" (click)="click('unicorn')">
        <label for="dark"><span class="material-icons">brightness_2</span> Switch Mode (Dark)</label>
    </div>

    <div [class.active]="theme=='unicorn'">
        <input type="radio" id="unicorn" name="drone" value="unicorn" [checked]="theme=='unicorn'" checked (click)="click('light')">
        <label for="unicorn"><span class="icon-unicorn">🦄</span> Switch Mode (Unicorn)</label>
    </div>
      
</footer>