:host{
    background-color: #260252;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}

.record{
    display: flex;
    flex-wrap: wrap;
    padding: 3px; 
    color: #fff;
    .count{
        margin-right: 3px;
        text-align: right;
        width: 30px;
    }

}

.active{
    font-weight: 900;
    background-color: #f5e389;
    color: #fcb500;
}

