
@import "../../../assets/variables.scss";
.main{
    
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2{
        color:$interface-text-color;
        width: 100%;
    }

    .phrases{
        background-color: $interface-bg-color;
        padding: 0;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        color:$interface-text-color;
        box-sizing: border-box;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        

        .header-container{
            box-sizing: border-box;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            width: 600px;
            display: flex;
            flex-wrap: wrap;
            header{
                box-sizing: border-box;
                width: 20%;
                height: 115px;
                text-align: center;
                font-size: 72px;
                font-weight: 900;
                color: #e3c3ff;
                padding-top:10px;
                box-sizing: border-box;
            }
        }

        .header-bingo{
            background-image: $bingo-header-bg-image;
            
            header{
                color: $interface-text-color;
                text-shadow: 0px 0px 3px $bingo-header-text-shadow;
            }
        }
    }

    .board-messages{
        background-color: $interface-bg-color;
        width: 30%;
        height: 690px;
    }

}

@media screen and (max-width: 1000px) {
    .main{
        max-width: 600px;
        .phrases{
            width: 600px;
        }    
        .board-messages{
            margin-top: 10px;
            width: 600px;
            height: 100px;
            margin-left: 0px;
        }
    }    
    
}    

@media screen and (max-width: 600px) {
    .main{
        width: 100%;
        .phrases{
            width: 375px;

            .header-container{
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                width: 375px;
                display: flex;
                flex-wrap: wrap;
                header{
                    width: 72px;
                    height: 70px;
                    font-size: 36px;
                    padding-top:2px;
                    line-height: 1.8;
                }
            }
        }    
        .board-messages{
            margin-top: 10px;
            width: 375px;
            height: 100px;

        }
    }    
    
}    



