.header{
    width: 19%;
    text-align: center;
    font-size: 132px;
    font-weight: 900;
    color: #4287f5;
}

.phrases{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
    color:purple;
}
