<app-toolbar></app-toolbar>
<div class="main">
    <h2>{{(game | async)?.name}}</h2>
    <div class="phrases">
        <div class="header-container">
            <header>B</header>
            <header>I</header>
            <header>N</header>
            <header>G</header>
            <header>O</header>
        </div>
        <app-item #items class="cell"
            *ngFor="let phrase of phrases | async; let i = index;" 
            [phrase]='phrase' [boardid]='boardid' 
            (phraseEmitter)="recievePhrase($event)" 
            (readyEmitter)="receiveChild($event)" 
            [board]="(board | async)"
            [position]="i+1" [currentState]='currentState'>
        </app-item>
    </div>
    <app-messages class="board-messages" [messages]='messages' [target]='player.email'></app-messages>
</div>