<app-toolbar></app-toolbar>
<div class="main">
    <header class="game-header">
    <h2>{{(game | async)?.name}}&nbsp;</h2>
    <div class="invite-link" *ngIf="showInvitelink" >
        <button class="close" (click)="hideInviteLink()">
            <i class="material-icons">close</i>
        </button>
        <p>You are the first player in the game. This gives you the ability to
            add and remove administrators, reset players boards, and see all of
            the selections that have been made.  
        </p>
        <p>Invite others using this link:
            <a href="{{inviteLink}}">{{inviteLink}}</a>
            <button (click)="copyInviteLink()">
                <i class="material-icons">content_copy</i>
            </button>
        </p>
    </div>
    </header>
    <div class="phrases">
        <div class="board-toolbar">
            <button (click)="copyInviteLink()">
                Copy Invite Link <i class="material-icons">content_copy</i>
            </button>
            <button *ngIf="bingo" class="reset" (click)="reset(boardid, gid)">
                Get a new board<i class="material-icons">fiber_new</i>
            </button>
        </div>
        <div class="header-container">
            <header>B</header>
            <header>I</header>
            <header>N</header>
            <header>G</header>
            <header>O</header>
        </div>
        <div class="board-phrases">
            <span data-text="Loading" class="loading">Loading</span>
            <app-item #items class="cell"
                *ngFor="let phrase of phrases | async; let i = index;" 
                [phrase]='phrase' [bid]='boardid' 
                (phraseEmitter)="recievePhrase($event)" 
                (readyEmitter)="receiveChild($event)" 
                [gid]="gid"
                [position]="i+1" [currentState]='currentState'>
            </app-item>
        </div>    
    </div>
    <app-messages class="board-messages" [messages]='messages' [target]='player.email'></app-messages>
    <app-footer></app-footer>
</div>