
.main{
    
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .game-header{
        width: 1000px;
        h2{
            color: var(--interface-text-color);
            transition:  color .25s ease-in;
            margin-right: 20px;
        }

        .invite-link{
            position: relative;
            max-width: 1000px;
            background-color:  var(--interface-bg-color);
            padding: 20px;
            border-radius: 6px;
            margin: 10px 0;
            a{
                display: inline-block;
                padding: 5px;
                color: var(--link-text-color);
                background-color: var(--link-text-bg-color);
                transition: background-color .25s ease-in, color .25s ease-in;
            }

            button{
                position: relative;
                border: none;
                background-color: transparent;
                box-shadow: none;
                outline: none;
                &:hover{
                    color: var(--btn-border-color);
                    transition: background-color .25s ease-in, color .25s ease-in;
                }

                .material-icons{
                    position: relative;
                    top: 7px;
                }
            }

            .close{
                position: absolute;
                top: 0;
                right: 0;
            }
            
            
        }
    }

    .phrases{
        padding: 0;
        width: 60%;
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        color: var(--interface-text-color);
        box-sizing: border-box;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        transition: background-color .25s ease-in, color .25s ease-in;
        position: relative;
        align-items: top;
        
        .board-toolbar{
            width: 100%;
            background-color: var(--body-bg-color);
            transition: background-color .25s ease-in, color .25s ease-in;
            height: 30px;
            button{
                position: relative;
                margin: 0 10px 0 0;
                .material-icons{
                    position: relative;
                    font-size: 14px;
                    top: 2px;
                    margin: 0 2px;
                }
            }
        }

        .board-phrases{
            background-color:  var(--interface-bg-color);
            transition: background-color .25s ease-in;
            width: 600px;
            height: 575px;
            display: flex;
            flex-wrap: wrap;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            .loading{
                position: absolute;
                top: 400px;
                margin: 0 auto;
                left: 215px;
                font-size: 48px;
                z-index: 0;
                color: var(--interface-text-color);

                &:before {
                    content: attr(data-text);
                    position: absolute;
                    overflow: hidden;
                    max-width: 7em;
                    white-space: nowrap;
                    color: var(--bingo-header-color);
                    animation: loading 8s linear;
                }
                @keyframes loading {
                    0% {
                        max-width: 0;
                    }
                }
            }
        }

        .header-container{
            background-color:  var(--interface-bg-color);
            box-sizing: border-box;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            width: 600px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            transition: background-color .25s ease-in, background-image .25s ease-in;
            header{
                box-sizing: border-box;
                width: 20%;
                height: 115px;
                text-align: center;
                font-size: 72px;
                font-weight: 900;
                color: var(--bingo-header-color);
                padding-top:10px;
                transition: color .25s ease-in;
                display:inline-block;
            }
        }

        .header-bingo{
            background-image:  var(--bingo-header-bg-image);
            background-color: var(--bingo-declared-header-bg-color);
            
            
            header{
                color:  var(--bingo-declared-header-color);
                text-shadow: 0px 0px 3px  var(--bingo-header-text-shadow);
                transition: text-shadow .25s ease-in, color .25s ease-in;
            }
        }

    }

    .board-messages{
        background-color:  var(--interface-bg-color);
        transition: background-color .25s ease-in;
        width: 30%;
        height: 690px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 1000px) {
    .main{
        max-width: 600px;
        .phrases{
            width: 600px;
        }    
        .board-messages{
            margin-top: 10px;
            width: 600px;
            height: 100px;
            margin-left: 0px;
        }
    }    
    
}    

@media screen and (max-width: 600px) {
    .main{
        width: 100%;
        .phrases{
            width: 375px;

            

            .header-container{
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                width: 375px;
                display: flex;
                flex-wrap: wrap;
                header{
                    width: 72px;
                    height: 70px;
                    font-size: 36px;
                    padding-top:2px;
                    line-height: 1.8;
                }
            }
            .board-phrases{
                width: 375px;
                height: 350px;

                .loading{
                    position: absolute;
                    top: 250px;
                    margin: 0 auto;
                    left: 140px;
                    font-size: 24px;
                }    
            }
        }    
        .board-messages{
            margin-top: 10px;
            width: 375px;
            height: 100px;

        }
    }    
    
}    



