@import "../../../assets/variables.scss";

.main{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    .manage-header{
        width: 100%;
        color: $interface-text-color;
        background-color: $interface-bg-color;
        padding: 20px;
        margin: 20px 0 ;
        border-radius: 6px;
        .invite-link{
            a{
                display: inline-block;
                padding: 5px;
                color: $link-text-color;
                background-color: $link-text-bg-color;
            }
            
        }
    }

    .master{
        margin:0 20px 0 0;
        width: 25%;
    }

    .boards{
        margin:0 20px 0 0;
        width: 35%;
    }

    .manage-messages{
        margin:0;
        background-color: $interface-bg-color;
        color: $interface-text-color;
        width: 27%;
        max-height: 700px;
    }

    .phrases{
        margin:10px 0;
        width: 100%
    }

    .game{
        margin:10px 0;
        width: 100%
    }

}

