<app-toolbar></app-toolbar>

<div class="main">
    <div class="manage-header">
        <h2>Manage {{(game | async)?.name}}</h2>
        <div class="manage-module">
            <p>Invite others to the game:</p>
            <div class="invite-link">
                <a href="{{inviteLink}}/{{(game | async)?.id}}">
                    {{inviteLink}}/{{(game | async)?.id}}
                </a>
            </div>
        </div>
        <div class="manage-module">
            <p>Shut Down the Game:</p>
            <button (click)="deactivateGame()">Deactivate Game</button>
        </div>
    </div>
    <app-manage-master class="master" [id]=id></app-manage-master>
    <app-manage-boards class="boards" [gid]=id></app-manage-boards>
    <app-messages class="manage-messages" [messages]='messages' [target]='message_target'></app-messages>
    <app-manage-phrases class="phrases" [id]=id></app-manage-phrases>
    <app-manage-admins class="admins" ></app-manage-admins>
</div>