<h2>Manage Games</h2>

<div>
    
    
    <table class="game-list">
        <thead>
            <tr><th>Name</th><th>Admins</th><th>Date</th><th></th></tr>
        </thead>
        <tr *ngFor="let game of games | async" [class.active]="game.active">
            <td class="game-name"><a routerLink="/game/{{game.id}}">{{game.name}}</a></td>
            <td><span *ngFor="let admin of game.admins">{{admin.name}}</span></td>
            <td>{{game.created | date:'short'}}</td>
            <td><button [id]="game.id" (click)="deactivateGame($event)"><span>Close</span> <i class="material-icons">cancel</i></button></td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="4"><app-progressbar></app-progressbar></td>
            </tr>
        </tfoot>
    </table>   
</div>