<h2>Manage Games</h2>

<div>
    
    <table>
        <thead>
            <tr><th>Name</th><th>Admins</th><th>Date</th></tr>
        </thead>
        <tr *ngFor="let game of games | async" [class.active]="game.active">
            <td class="game-name"><a routerLink="/game/{{game.id}}">{{game.name}}</a></td>
            <td><span *ngFor="let admin of game.admins">{{admin.name}}</span></td>
            <td>{{game.created | date:'short'}}</td>
            <td><button [id]="game.id" (click)="deactivateGame($event)">Deactivate Game</button></td>
        </tr>
    </table>   
</div>